
NUTANIX_DEPLOY_PLAYBOOK_PATH=/foo/bar/nutanixdeploy.yml
NUTANIX_AUDIT_PLAYBOOK_PATH=/foo/bar/nutanixauditcustomize.yml
NUTANIX_CUSTOMIZE_PLAYBOOK_PATH=/foo/bar/nutanixauditcustomize.yml

VMWARE_DEPLOY_PLAYBOOK_PATH=/foo/bar/esxi.yml
VMWARE_AUDIT_PLAYBOOK_PATH=/foo/bar/esxi.yml
VMWARE_CUSTOMIZE_PLAYBOOK_PATH=/foo/bar/esxi.yml

PATH_UPLOAD_CONFIGS=./upload


IS_PROD=True
DATABASES_NAME= #database name
DATABASES_USER= #database user
DATABASES_PASSWORD=
DATABASES_HOST=localhost #keep localhost for local db
DATABASES_PORT=5432 #keep 5432 for lot cases
