{% extends 'playbook_form_stepper.html' %}
{% block base_form_stepper_html %}
{#  {{  uploaded_config.parsed_data }}#}

{#    <p>{{ key }}: {{ value }}</p>#}
    <div class="uk-container">
      <h3 class="color__heading">Variable Review</h3>
      <h4 style="color:red">Failure to review the variables below could lead to interruptions in service or loss of data!</h4>
      <table class="review-vars__table uk-table uk-table-divider uk-table-small uk-table-justify">
      <thead>
        <tr>
          <th class="color__heading">Var key</th>
          <th class="color__heading">Var value</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in uploaded_config.parsed_data.items %}
          {% if key == 'nodes' %}
            {% for node_key, node_value in value.items  %}
              {% if node_key != 'group' %}
                <thead>
                  <tr>
                    <th class="color__heading">Node {{ forloop.counter0 }}</th>
                    <th></th>
                    <th></th>
                  </tr>
                  <tr></tr>
                </thead>
                {% for obj_key, obj_value in node_value.items %}
                  {% if obj_key not in not_display_key %}
                    <tr>
                      <td></td>
                      <td>{{ obj_key }}</td>
                      <td>{{ obj_value }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          {% else %}
            {% if key not in not_display_key %}
            <tr>
              <td>{{ key }}</td>
              <td>{{ value.value }}</td>
              <td></td>
            </tr>
            {% endif %}
          {% endif %}
        {% endfor %}
      </tbody>
      <thead>
        <tr>
          <th>Var key</th>
          <th>Var value</th>
        </tr>
      </thead>
    </table>
      <div class="uk-container">
        <h3>To download formatted files, click the link:</h3>
        <p>
          <a href="{{ uploaded_config.config_yml_file.url }}">{{ uploaded_config.config_yml_file.name }}</a>
        </p>
        <p>
          <a href="{{ uploaded_config.config_json_file.url }}">{{ uploaded_config.config_json_file.name }}</a>
        </p>
      </div>
    </div>
    <div class="uk-container uk-margin">
      <a class="uk-button uk-button-default" href="javascript:history.back()">Back to upload</a>
      <a class="uk-button uk-button-primary"
         href="{% url 'playbook_generator:playbook_step_instruction' service_type=service_type config_uuid=config_uuid %}"
      >
        I've Reviewed the Variables
      </a>
    </div>
{% endblock %}
{% block base_js %}
{% endblock %}
