{% extends 'playbook_form_stepper.html' %}
{% block base_form_stepper_html %}
{#  {{  uploaded_config.parsed_data }}#}

{#    <p>{{ key }}: {{ value }}</p>#}
    <div class="uk-container">
      <h3 class="color__heading">Variable Review</h3>
      <h4 style="color:red">Failure to review the variables below could lead to interruptions in service or loss of data!</h4>
      {% include "components/config_table.html" %}
    </table>
    </div>
    <div class="uk-container uk-margin">
      <a class="uk-button uk-button-default" href="javascript:history.back()">Back to upload</a>
      <a class="uk-button uk-button-primary"
         href="{% url 'playbook_generator:playbook_step_instruction' service_type=service_type config_uuid=config_uuid %}"
      >
        I've Reviewed the Variables
      </a>
    </div>
{% endblock %}
{% block base_js %}
{% endblock %}
