{% extends 'playbook_form_stepper.html' %}
{% block base_form_stepper_html %}
  <div class="uk-flex uk-flex-column uk-flex-center uk-flex-middle upload__form__container">
      <div class="uk-margin uk-f uk-flex uk-flex-column">
      </div>
      <div class="uk-container">
        <p>1. Please copy the files in the links below to the <b>tmp</b> directory on the Ansible server.</p>
        <a href="{{ uploaded_config.config_yml_file.url }}">{{ uploaded_config.config_yml_file.name }}</a>
        <br><br>
        <a href="{{ uploaded_config.config_json_file.url }}">{{ uploaded_config.config_json_file.name }}</a>
        <p>2. After copying the files above please continue to follow the runbook instructions. Reference the command below when instructed to by the runbook.</p>
        <div class="uk-comment-body">
            <div class="uk-margin">
              <textarea class="terminal uk-textarea" rows="2" placeholder="Textarea" id="copy-text"> ansible-playbook {{ nodes_path }} --extra-vars "@/tmp/{{ uploaded_config.config_yml_file.name }} {% if is_show_tags %} --tags "{{ uploaded_config.tag }}" {% endif %}</textarea>
            </div>
        </div>
        <a class="uk-margin-small uk-button uk-button-default" id="copy_btn">Copy</a>
        <br>
        <a class="uk-margin uk-button uk-button-default" href="javascript:history.back()">Back to review</a>
      </div>
    </div>
  </div>
{% endblock %}
{% block base_js %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
  $(document).ready(function () {
    const copyToClipboard = str => {
      const el = document.createElement('textarea');
      el.value = str;
      el.setAttribute('readonly', '');
      el.style.position = 'absolute';
      el.style.left = '-9999px';
      document.body.appendChild(el);
      el.select();
      document.execCommand('copy');
      document.body.removeChild(el);
    };

     $("#copy_btn").click(function(e) {
        e.preventDefault();
        var copiedTextEl = $('#copy-text');
        copyToClipboard(copiedTextEl.text());
        UIkit.notification({message: 'copied!',
        timeout: 2000,});
     });
   });
  </script>
{% endblock %}
